*~
*.[oa]
*.mod
*.exe
#*#
*.tif
*.fig
*.log
log_fortran
machines/**/cputime_dinaimas
machines/**/p_data1
machines/**/psi_data
machines/**/plasma_start.dat
machines/**/psi_data
machines/**/for042
machines/**/psi_data_imas0
machines/**/tran_times.dat
machines/**/plasma.dat
machines/**/na_ramp
machines/**/error.txt
tools/IDS_Coordinates.mat
tools/mexutilids.mod
tools/mexLoadIDS.mex*
!imas/fc2k/*-template.xml
imas/fc2k/externaltransp.xml
imas/fc2k/toto
imas/interface/test_dina
imas/interface/test_dina_astra
imas/interface/test_dina_to_imas
imas/interface/test_wr_prof
imas/interface/test_dina_2madiv
imas/interface/test_dina_pfpo1a
imas/interface/test_dina_pfpo1b
imas/circ/test_dina
imas/circ/test_circ
imas/eq_test/p_equi
imas/eq_test/test_equil
imas/astra_transp/p_4dina
imas/jetto/JINTRAC_IDS/jetto_prof_to_ids
imas/jetto/JINTRAC_IDS/jetto_prof_from_ids
imas/kepler_wf/log*
__pycache__/
.vscode
 
*cputime*
*/temp
*.directory
